Source: qstuff
Section: utils
Priority: extra
Maintainer: Karsten Borgwaldt <kb@spambri.de>
Build-Depends: debhelper (>= 7), cmake (>= 2.8.12), qtbase5-dev (>= 5.15.0), libqt5charts5-dev
Standards-Version: 3.8.4
Homepage: https://gitlab.com/l577/logstuff

Package: qstuff
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt Frontent for logstuff's database
